%section#introduction
  .container
    .row.fill-viewport.align-items-center.justify-content-center
      .col-12.col-md-6
        .row
          .col-md-auto
            %h1.text-white.title
              = I18n.t("main.title")
        -if Codebreaker::Statistics.new.show_statistics.empty?
          %p.lead.text-white-70
            = I18n.t("messages.no_winners")
        -else
          %p.lead.text-white-70
            = I18n.t("fields.top_of_players")
          %hr.mb-4/
          .table-responsive-md.scores
            %table.table.table-striped.table.table-sm
              %thead
                %tr
                  %th{:scope => "col"} #
                  %th{:scope => "col"}
                    = I18n.t("main.name")
                  %th{:scope => "col"}
                    = I18n.t("main.level")
                  %th{:scope => "col"}
                    = I18n.t("conditions.attempts_used")
                  %th{:scope => "col"}
                    = I18n.t("conditions.hints_used")
              %tbody
                - Codebreaker::Statistics.new.show_statistics.map.with_index do |game, index|
                  %tr
                    %th{:scope => "row"}
                      = index+1
                    %td
                      = game[:name]
                    %td
                      = game[:difficulty].to_s.capitalize
                    %td
                      = game[:used_attempts]
                      = '/'
                      = game[:available_attempts]
                    %td
                      = game[:used_hints]
                      = '/'
                      = game[:available_hints]
        %hr.mb-4/
        %a.btn.btn-primary.btn-lg{:href => PathConstants::ROOT, :role => "button"}
          = I18n.t("buttons.back_to_home")
